/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 20px;
}
/* HEADER */
nav{
    display: flex;
    justify-content: space-between;  
}
ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    padding: 1em;
}   
nav ul li a{
    text-decoration: overline;
    color:#0065FC;
}
#logo{
    width: 60px;
    height: auto;
}
.recherche{
    margin-top: 2em;
}
.recherche div p{
    margin-top: 0.7em;
}
form{
    margin-top: 1em;
    border-radius: 3px;
}
.fas fa-map-marker-alt{
    background-color: #F2F2F2;
}
.ville{

}
.rechercher{
    background-color:#0065FC;
}
/* MAIN */
main{
    display: flex;
    justify-content: space-between;
}
/* HEBERGEMENTS */
.hebergements{

}
section img{
    width: 5em;
}
/* POPULAIRES */
.hotel_populaire{
    flex-direction: column;
    
    
/* ACTIVITES */
.activites{

}

/* FOOTER */







@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}