/* GENERAL */
*
{
   
}
body
{
    font-family: Raleway, sans-serif;
}
h2
{
    font-weight: bold;
}
a
{
    text-decoration: none;
}

/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
}
nav
{
    
}
ul
{
   
}
li
{
    list-style: none;
    padding: 15px;
   
}
#logo
{
   height: 10px;
   width: 60px;
}
/* RECHERCHE */


/* POPULAIRES */
#Populaires
{
    border: 1px solid black;
    width: 600px;
}
.pop
{
    
}
.fas fa-chart-line
{
    flex-direction: row;
}
/* FOOTER */
footer
{
   
}




@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}